body,
html {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  html {
    font-size: 24px;
  }
}

@media only screen and (min-width: 901px) {
  html {
    font-size: 30px;
  }
}

.topScreen {
  margin: 0px;
  background-color: rgb(29, 31, 48);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#centerDisplay {
  margin-top: 10%;
  margin-bottom: 2%;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#centerDisplay video {
  height: 80%;
  max-width: 50%;
}

#centerDisplay p {
  margin-right: 5%;
  max-width: 40%;
  font-size: 1.6rem;
  color: aliceblue;
}

#centerDisplay span {
  color: rgb(221, 8, 122);
}

#myWorkButton {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 8vh;
  width: 30vw;
  border-color: aliceblue;
  border-width: 3px;
  background-color: transparent;
}

#myWorkButton:hover {
  background-color: #2ca5fe;
  transition: all 0.6s;
}

#myWorkButton:hover .fa-solid {
  transform: rotate(90deg);
  transition: 0.5s;
}

#myWorkButton p {
  color: aliceblue;
  font-size: 1rem;
  align-self: center;
}

.buttonLink {
  text-decoration: none;
  color: aliceblue;
  /* height: 50px;
  width: 30vw; */
}

.screen2 {
  background: rgb(232, 233, 243);
  /* height: 100vh; */
  padding-bottom: 100px;
}

#screen2Navbar {
  height: 8vh;
  width: 100%;
  background-color: #101d2c;
  border-bottom: solid;
  border-bottom-color: #2ca5fe;
  border-bottom-width: 4px;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  margin-bottom: 10px;
  z-index: 1;
}

.navbarItem {
  color: aliceblue;
  margin: 3%;
  display: flex;
  align-self: center;
}

#about {
  text-decoration: underline;
  color: #3e3f44;
}

.badgeRow {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.badgeBox {
  display: flex;
  flex-direction: column;
  /* min-width: 25%; */
  min-width: 25%;
}

.badgeBox:hover .hexBadge {
  transform: rotateY(360deg);
}

.badgeBox span {
  color: #3e3f44;
  font-size: 1rem;
  font-weight: bold;
}

.badgeBox p {
  color: #525358;
}

.hexBadge {
  transition: all 2s;
  align-self: center;
  justify-content: center;
  max-height: 120px;
  max-width: 120px;
  position: relative;
  display: flex;
}

.hexBadge img {
  height: 100%;
}

.hexBadgeOverlay {
  position: absolute;
  height: 100%;
  align-self: center;
  display: flex;
}

.hexBadgeOverlay i {
  font-size: 50px;
  color: aliceblue;
  align-self: center;
}

#aboutMeColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#aboutMeText {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-self: center;
}

#aboutMeText h2 {
  color: #3e3f44;
}

#aboutMeText p {
  color: #525358;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  max-width: 50%;
  margin-top: 2%;
  margin-bottom: 5vh;
}

.skillBox {
  height: 30px;
  background-color: #2ca5fe;
  width: 120px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#myProjects {
  font-size: 30px;
  text-decoration: underline;
  font-weight: 800;
  color: #3e3f44;
}

.skillBox p {
  color: aliceblue;
  font-weight: 800;
  font-size: 18px;
}

.slideIns {
  height: 92%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slideBox {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  height: max-content;
  min-height: 35vh;
  width: 50%;
  border: solid;
  border-width: 0px 5px 0px 5px;
  border-color: #2ca5fe;
  background-color: aliceblue;
  box-shadow: 0px 5px 20px rgb(194, 192, 192);
  margin-bottom: 5vh;
}

.slideBoxImgContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .slideBoxImgContainer img {
  height: 100%;
  max-width: 100%;
} good for the mobile phone*/

.slideBoxImgContainer img {
  max-height: 40vh;
  max-width: 100%;
  object-fit: scale-down;
}

.slideBoxTextBox {
  max-height: 100%;
  max-width: 50%;
}

.slideBoxTextBox h2 {
  word-wrap: break-word;
  color: #3e3f44;
}

.slideBoxTextBox p {
  word-wrap: break-word;
  color: #525358;
}

footer {
  background-color: #1d1f30;
  border-top: solid 4px #2ca5fe;
}

footer p {
  color: aliceblue;
  padding: 5vh 0px 5vh 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: underline;
  font-size: 30px;
  font-weight: 400;
}

footer h2 {
  color: aliceblue;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}

.contactInput {
  color: #e8e9f3;
  background-color: #0d1825;
  height: 40px;
  width: 350px;
  border: none;
  margin: 2px;
}

.messageInput {
  color: #e8e9f3;
  background-color: #0d1825;
  height: 100px;
  width: 350px;
  border: none;
  margin: 2px;
}

#contact button {
  height: 40px;
  width: 150px;
  background-color: #1d1f30;
  margin: 5px 0px 10px 0px;
  color: aliceblue;
  font-size: 1em;
}

#contact button:hover {
  background-color: #2ca5fe;
  transition: all 0.6s;
}
